<template>
  <div class="view view-transformation">
    <h1>Transformation</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
</style>
