<template>
  <div class="view view-truth">
    <page-header class="page-header" :page-header-data="pageHeaderData"></page-header>

    <div class="header flex one">
      <div class="header-controls flex vertical">
        <label>SORT BY</label>
        <select-box v-on:select="updateSorting" :options="sortOptions"></select-box>
      </div>
    </div>
    
    <title-grid :titles="titles"></title-grid>

    <div class="footer">
      <div class="flex one"></div>
      <div class="flex two">
        <div class="footer-button load-more" v-if="hasPages" v-on:click="loadData">LOAD MORE</div>
      </div>
      <div class="flex one right">
        <div class="footer-button to-top" v-if="currentPage > 1" v-on:click="scrollToTop">
          <i class="material-icons">expand_less</i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import PageHeader from '@/components/PageHeader';
import SelectBox from '@/components/SelectBox';
import TitleGrid from '@/components/TitleGrid';

export default {
  components: {
    PageHeader,
    SelectBox,
    TitleGrid,
  },
  data() {
    return {
      currentPage: 0,
      pageHeaderData: null,
      perPage: 16,
      sort: '',
      sortOptions: [
        { label: 'Most Popular', value: '' },
        { label: 'Most Recent', value: 'recent' },
        { label: 'Alphabetical', value: 'alpha' },
      ],
      titles: [],
      totalTitles: -1,
    };
  },
  computed: {
    hasPages: function () {
      return (this.totalTitles > this.perPage * (this.currentPage + 1));
    },
  },
  watch: {
    sort: function () {
      this.reset();
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    appendTitles(titles) {
      if (!Array.isArray(titles)) {
        console.error('Truth.vue::appendTitles - Invalid Response Data: ', titles);
        return;
      }

      this.titles = this.titles.concat(titles.filter(title => (
        // allow only titles with an id
        typeof title === 'object' && typeof title.nid === 'string' && /^\d+$/.test(title.nid)
      )));
    },
    loadData() {
      Vue
      .http({
        url: `https://d6api.gaia.com/videos/term/119931?p=${this.currentPage}&pp=${this.perPage}&sort=${this.sort}`,
        method: 'GET',
      })
      .then((response) => {
        // EC - invalid
        if (typeof response !== 'object' || typeof response.body !== 'object') {
          console.error('Truth.vue::loadData - Invalid Response Data: ', response);
          return;
        }

        this.setCurrentPage(parseInt(response.body.currentPage, 10) + 1);
        this.setTotalTitles(parseInt(response.body.totalCount, 10));
        this.appendTitles(response.body.titles);
        this.setPageHeaderData(response.body.term);
      })
      .catch((err) => {
        console.error('Truth.vue::loadData - Loading FAILED:', err);
      });
    },
    reset() {
      this.setCurrentPage(0);
      this.setTotalTitles(0);
      this.titles.splice(0);
      this.loadData();
    },
    setCurrentPage(currentPage) {
      // EC - invalid
      if (isNaN(currentPage) || currentPage < 0) {
        console.error('Truth.vue::currentPage - Invalid argument:', currentPage);
        return;
      }

      this.currentPage = currentPage | 0; // bitwise floor to insure integer
    },
    setPageHeaderData(data) {
      // EC - invalid
      if (typeof data !== 'object') {
        this.pageHeaderData = null;
        console.error('Truth.vue::setPageHeaderData - Invalid argument:', data);
        return;
      }

      this.pageHeaderData = data;
    },
    setTotalTitles(totalTitles) {
      // EC - invalid
      if (isNaN(totalTitles) || totalTitles < 0) {
        console.error('Truth.vue::totalTitles - Invalid argument:', totalTitles);
        return;
      }

      this.totalTitles = totalTitles | 0; // bitwise floor to insure integer
    },
    scrollToTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    },
    updateSorting(selected) {
      if (typeof selected === 'object' && 'value' in selected) {
        this.sort = selected.value;
        this.reset();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  @import '../../../static/css/colors';

  .view-truth {
    padding-bottom: 32px;

    .flex {
      align-items: center;
      display: flex;
      justify-content: center;
      
      &.one {
        flex: 1;
      }

      &.right {
        justify-content: flex-end;
      }

      &.two {
        flex: 2;
      }

      &.vertical {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .footer {
      display: flex;
      flex: 1;
      justify-content: center;
      margin: 36px;

      .footer-button {
        align-items: center;
        background-color: $blue-2;
        color: $white;
        cursor: pointer;
        display: flex;
        font-size: 1.2rem;
        height: 1.5rem;
        justify-content: center;
        padding: 12px;

        &:hover {
          background-color: $blue-1;
          color: $white;
        }

        &.load-more {
          width: 400px;
        }

        &.to-top {
          width: 24px;
        }
      }
    }

    .header {
      justify-content: flex-end;
      margin: 24px 36px 0px 36px;
    }

    label {
      color: $grey-1;
    }
  }

  @media screen and (max-width: 520px) {
    .view-truth {
      .header {
        justify-content: flex-start;

        .header-controls {
          width: 100%;
        }

        .select-box {
          width: 100%;
        }
      }

      .footer {
        flex-direction: column;

        .load-more,
        .to-top {
          flex: 1;
          margin-top: 0.5rem;
          width: auto;
        }
      }

      .page-header {
        display: none;
      }
    }
  }
</style>
