@import 'colors';
@import 'fonts';

#app {
  font-family: Avenir-Medium, 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $white;
	color: $black;
	display: flex;
	flex-direction: column;
  margin: 0;
}
