<template>
  <div class="navigation">
    <div class="link-container">
      <router-link :to="{ path: 'my-gaia'}">MY GAIA</router-link>
      <router-link :to="{ path: 'yoga'}">YOGA</router-link>
    	<router-link :to="{ path: 'truth'}">SEEKING TRUTH</router-link>
      <router-link :to="{ path: 'transformation'}">TRANSFORMATION</router-link>
      <router-link :to="{ path: 'films'}">FILMS &amp; DOCS</router-link>
      <router-link :to="{ path: 'centers'}">CENTERS</router-link>
    </div>
    <div class="search-container">
      <search-box></search-box>
    </div>
  </div>
</template>

<script>
import SearchBox from '@/components/SearchBox';

export default {
  components: {
    SearchBox,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
	@import '../../static/css/colors';

  .navigation {
    align-items: center;
    background-color: $grey-3;
    border-bottom: 1px solid $grey-2;
    display: flex;
    padding: 12px 32px;

    .link-container {
      align-items: center;
      display: flex;
      flex: 6;
    }

    .link-container > a {
      color: $grey-1;
      cursor: pointer;
      margin-right: 36px;
      text-decoration: none;

      &:hover,
      &.router-link-active {
        color: $red-2;
      }
    }

    .search-container {
      align-items: center;
      flex: 1;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 520px) {
    .navigation {
      align-items: stretch;
      flex-direction: column;

      .link-container {
        align-items: flex-start;
        flex: 1;
        flex-direction  : column;

        > * {
          margin-bottom: 0.5rem;
        }
      }

      .search-container {
        margin-top: 1rem;
        .search-box {
          width: 100%;
        }
      }
    }
  }
</style>
