<template>
  <div class="page-header" v-if="pageHeaderData">
    <img :src="pageHeaderData.termImages.hero.hero_1440x300" />
    <div class="text-container">
      <div class="text-container__content">
        <h1>{{pageHeaderData.name}}</h1>
        <div class="header-text">
          {{pageHeaderData.body}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['pageHeaderData'],
};
</script>

<style lang="scss" scoped>
  @import '../../static/css/colors';

	.page-header {
    color: $white;
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .text-container {
      align-items: center;
      display: flex;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .text-container__content {
        display: flex;
        flex-direction: column;
        margin: 3rem;

        h1 {
          font-size: 2.2rem;
          text-transform: capitalize;
        }

        .header-text {
          max-width: 70%;
        }
      }
    }
  }
</style>
