<template>
  <div class="search-box">
    <input type="text" />
    <i class="material-icons">search</i>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
	@import '../../static/css/colors';

  .search-box {
    align-items: center;
    background-color: $white;
    border: 1px solid $grey-2;
    display: flex;
    width: calc(160px + 2rem);

    > input {
      border: none;
      height: 1.6rem;
      min-width: 160px;
      width: calc(100% - 2rem);
    }
  }
</style>
