<template>
  <div class="select-box">
    <div class="selected-value" v-on:click="open" v-on-clickaway="close">
      {{selected && selected.label}}
      <i class="material-icons">arrow_drop_down</i>
    </div>
    <div v-show="expanded" class="dropdown">
      <div 
        v-for="option in options" v-on:click="select(option)"
        class="option"
        :class="{ 'selected': selected && option.value === selected.value }"
      >{{option.label}}</div>
    </div>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
  mixins: [clickaway],
  props: {
    options: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      expanded: false,
      selected: null,
    };
  },
  created() {
    if (Array.isArray(this.options) && this.options.length) {
      this.selected = this.options[0];
    }
  },
  methods: {
    close() {
      this.expanded = false;
    },
    open() {
      this.expanded = true;
    },
    select(option) {
      this.selected = option;
      this.$emit('select', this.selected);
      this.close();
    },
  },
};
</script>

<style lang="scss" scoped>
  @import '../../static/css/colors';

  .select-box {
    position: relative;

    .dropdown {
      background-color: $white;
      border: 1px solid $blue-1;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      min-width: 100%;
      position: absolute;
      right: 0;
      top: 0;

      .option {
        padding: 0.5rem;

        &:hover {
          background-color: $grey-3;
        }
      }
    }

    .selected-value {
      align-items: center;
      border: 1px solid $blue-1;
      color: $grey-1;
      cursor: pointer;
      display: flex;
      height: 1.2rem;
      justify-content: space-between;
      min-width: 180px;
      padding: 0.25rem;
    }
  }
</style>
