<template>
  <div class="title-card">
    <img class="title-card__image" :src="image"></img>
    <i v-if="instructor"><small>{{instructor}}</small></i>
    <h4 class="title-card__title">{{data.title}}</h4>
    <div class="flex">
      <div class="flex two vertical">
        <small v-if="episodeDisplay">{{episodeDisplay}}</small>
        <small v-if="runtime">{{runtime}}</small>
      </div>
      <div class="flex right more-button" v-on:click="expanded = !expanded">
        <small>MORE</small>
        <i v-if="expanded" class="material-icons">expand_less</i>
        <i v-if="!expanded" class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="teaser" v-if="teaser && expanded">
      {{teaser}}
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    data: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      expanded: false,
    };
  },
  computed: {
    image: function () {
      return this.data.keyart_16x9_withtext ? this.data.keyart_16x9_withtext.keyart_304x171 || '' : '';
    },
    instructor: function () {
      return (typeof this.data.fields === 'object' &&
        typeof this.data.fields.instructor === 'object' &&
        Array.isArray(this.data.fields.instructor) &&
        this.data.fields.instructor.length &&
        this.data.fields.instructor[0].value
      ) || '';
    },
    episodeDisplay: function () {
      let episodeString = '';
      const episodeStrings = [];
      let seriesString = '';
      const seriesStrings = [];

      if (this.data.total_seasons) {
        seriesStrings.push(`${this.data.total_seasons} Season${(this.data.total_seasons === '1') ? '' : 's'}`);
      }

      if (this.data.total_episodes) {
        seriesStrings.push(`${this.data.total_episodes} Episode${(this.data.total_episodes === '1') ? '' : 's'}`);
      }

      seriesString = seriesStrings.join(', ');

      // series based display
      if (seriesString) {
        return seriesString;
      }

      if (typeof this.data.fields === 'object') {
        if (
          Array.isArray(this.data.fields.season) &&
          this.data.fields.season.length &&
          typeof this.data.fields.season[0].value === 'string'
        ) {
          episodeStrings.push(`Season ${this.data.fields.season[0].value}`);
        }

        if (
          Array.isArray(this.data.fields.episode) &&
          this.data.fields.episode.length &&
          typeof this.data.fields.episode[0].value === 'string'
        ) {
          episodeStrings.push(`Episode ${this.data.fields.episode[0].value}`);
        }

        episodeString = episodeStrings.join(', ');
      }

      if (episodeString) {
        return episodeString;
      }

      return '';
    },
    runtime: function () {
      // EC - undef/non-string
      if (typeof this.data.feature !== 'object' || typeof this.data.feature.duration !== 'string') {
        return '';
      }

      let duration = parseInt(this.data.feature.duration, 10);

      // EC - invalid
      if (isNaN(duration) || duration <= 0) {
        return '';
      }

      duration = duration / 60 | 0;

      const hours = (duration >= 60) ? duration / 60 | 0 : '';
      const minutes = `00${(duration >= 60) ? duration % 60 : duration}`.substr(-2, 2);

      return hours ? `${hours} hours, ${minutes} mins` : `${minutes} mins`;
    },
    teaser: function () {
      return (typeof this.data.fields === 'object' &&
        typeof this.data.fields.teaser === 'object' &&
        Array.isArray(this.data.fields.teaser) &&
        this.data.fields.teaser.length &&
        this.data.fields.teaser[0].value
      ) || '';
    },
  },
};
</script>

<style lang="scss" scoped>
  @import '../../static/css/colors';

  .title-card {
    display: inline-block;
    flex-grow: 1;
    margin: 15px;
    width: calc(25% - 30px);

    .flex {
      align-items: flex-start;
      display: flex;
      flex: 1;

      &.right {
        justify-content: flex-end;
      }

      &.two {
        flex: 2;
      }

      &.vertical {
        flex-direction: column;
      }
    }

    h4 {
      margin: 0;
    }

    .material-icons {
      line-height: 1rem;
    }

    .more-button {
      cursor: pointer;
    }

    small {
      color: $grey-1;
    }

    .teaser {
      margin-top: 1rem;
    }

    .title-card__image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      width: 100%;
    }

    .title-card__title {
      cursor: pointer;
      margin-bottom: 4px;
    }
  }

  @media screen and (max-width: 520px) {
    .title-card {
      width: 100%;
    }
  }

</style>
