<template>
  <div class="product-grid">
    <title-card v-for="title in titles" :data="title" :key="title.nid"></title-card>
  </div>
</template>

<script>
import TitleCard from '@/components/TitleCard';

export default {
  components: {
    TitleCard,
  },
  props: {
    titles: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style lang="scss" scoped>
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 18px;
  }
</style>
