<template>
  <div class="user-bar">
    <router-link :to="{ path: '/'}">
    	<div class="logo"></div>
    </router-link>
    <div class="user-info-button">
      {{username}} <i class="material-icons">account_circle</i>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: 'USER',
    };
  },
};
</script>

<style lang="scss" scoped>
  @import '../../static/css/colors';

  .user-bar {
    border-bottom: 1px solid $grey-2;
    display: flex;
    justify-content: space-between;
    padding: 12px 32px;

    .logo {
      background-image: url('https://webapp-assets.gaia.com/7da857e8399f7b65daf721db54f284a5.svg');
      cursor: pointer;
      height: 29px;
      width: 81px;
    }

    .user-info-button {
      align-items: center;
      color: $blue-2;
      cursor: pointer;
      display: flex;
      text-decoration: none;

      .material-icons {
        margin-left: 8px;
      }
    }
  }
</style>
