<template>
  <div id="app">
    <user-bar></user-bar>
    <navigation></navigation>
    <router-view></router-view>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation';
import UserBar from '@/components/UserBar';

export default {
  components: {
    Navigation,
    UserBar,
  },
};
</script>

<style lang="scss" src="../static/css/style.css"></style>
